html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(247, 81, 81, 0.909);
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding-top: 5vh;
}

main {
    background-color: rgba(255, 164, 115, 0.507);
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgba(255, 155, 48, 0.603);
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    padding: 1rem 3rem 1rem 3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
}

.title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    margin: 0;
    font-weight: 100;
}

.titimg1 {
    width: 20vh;
    position: absolute;
    top: 0vh;
    left: 2vw;
}

.titimg2 {
    width: 20vh;
    position: absolute;
    top: 0vh;
    right: 2vw;
}

fieldset {
    box-sizing: border-box;
    border-radius: 30px;
    padding: 1rem 2rem 1rem 2rem;
    width: 80%;
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    border-color: rgba(255, 155, 48, 0.603);
    border-style: double;
    border-width: 0.4rem;
}

hr {
    border-color: rgba(255, 155, 48, 0.603);
    border-style: double;
    border-width: 0.3rem;
}

.tasti{
    margin-top: 2rem;
}

.btn {
    width: 15rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.title2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    font-weight: 100;
}